.inventory {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 30px;
}

/* .upcoming {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
} */