@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

.title {
    font-family: 'Satisfy', cursive;
    color: rgb(11, 247, 255) !important;
}

.title:hover {
    color: rgb(136, 217, 255) !important;
}

.navbar-expand-lg .navbar-collapse.show {
    height: 100vh;
    transition: all 1s;
}